.nav{
  border:solid;
  display:flex;
  justify-content:space-between;
  padding:20px;
  /* margin: 20px; */
  background-color: rgb(128, 194, 4);
  color:whitesmoke;
}

li{
  display:flex;
  border:solid;
  justify-content:space-between;
  flex-wrap:wrap;
  align-items: center;
  padding:10px;
  border-radius: 10px;
  width: 500px;
  color:whitesmoke;
  background-color: black;
  box-shadow: darkblue;
}

.cards{
  /* align-items: center;
  justify-content: center; */
  margin:25px 60px 25px 60px;
  padding: 10px;
}

.titleHome{
  justify-content: center;
  align-items: center;
  padding: 10px 540px 10px 540px;
}