body{
    background-color: blue;
}

.title{
    display: flexbox;
    align-items: center;
    justify-content: center;
    margin: auto;

}

.questionContainer{
    display: flexbox;
    align-items: center;
    justify-content: center;
    margin: 10px 300px 25px 300px;
    border: 3px solid blue

}

.points{
    display:list-item;
    max-width: 100%;
    justify-content: space-evenly;
    height: 150px;
    
    /* list-style:; */
    margin: auto;
    padding: 10px 75px 5px 10px;
}

.user{
    /* display: inline; */
    
    border-collapse: collapse;
    padding:10px 85px 5px 95px;
    width:2500px;
    text-align: left;
    justify-content: space-evenly;
    align-items: center;
    margin: center;
    color:white;
    /* position: absolute; */
}

.title{
    color:white;
    
}

.displayPrompt{
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    
}

.displayCategory{
    font-size: x-large;
    color:white;
    

}

.displayValue{
    font-size: x-large;
    color:white;
}

.displayAnswer{
    font-size: larger;
    color:white;
}
