
#div1{background-color: ghostwhite;}
#div2{background-color: whitesmoke;}
#div3{background-color: mintcream;}
#div4{backgorund-color: blue;}
#div6{background-color: whitesmoke;}
#div7{background-color: whitesmoke;}
#div8{background-color: whitesmoke;}
